.footer-banner
  ._demo--container.footer-container
     .footer-title Created Using IBM BlueMix
     .footer-tagline Capgemin Tech Challenge 2017.
     a.base--a.bottom-links(href='https://www.capgemini.com/', target='_blank') Capgemini
     a.base--a.bottom-links(href='http://techchallenge.in.capgemini.com/', target='_blank') Capgemini Tech Challenge 2017
     a.base--a.bottom-links(href='https://www.ibm.com/watson/developercloud/visual-recognition/api/v3/', target='_blank') API Reference
